.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
  background: linear-gradient(90deg, rgba(0,0,0,.7), rgba(0,0,0,.3) 60%, rgba(0,0,0,0));
  max-width: 38vw;
  padding: 1.5rem 12vw 1.5rem 4vw;
  padding-right: 12vw;
}
