@import "../../assets/styles/mixins";

// Single quote

.quote {
  opacity: .55;
  transition: opacity .4s;
  cursor: pointer;
  display: flex;
  flex-direction: column;

  &:hover {
    opacity: 1;

    .quote__actions {
      opacity: 1;
      visibility: visible;
    }
  }

  & + & {
    margin-top: 1rem;
  }

  &__body {
  }

  &__actions {
    display: inline-block;
    margin-left: 5px;
    text-align: right;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s;
  }
}

.quote-action {
  background: transparent;
  display: inline-block;
  border: 0 none;
  width: 20px;
  height: 20px;
  text-indent: -4000px;
  cursor: pointer;
  opacity: .7;

  &:hover {
    opacity: 1;
  }

  &__edit {
    background: url(../../assets/images/ico-edit.png);
    background-size: 100%;
  }

  &__delete {
    background: url(../../assets/images/ico-trash.png);
    background-size: 100%;
  }

  & + & {
    margin-left: 9px;
  }
}


// Quote list

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
  background: linear-gradient(90deg, rgba(0,0,0,.7), rgba(0,0,0,.3) 60%, rgba(0,0,0,0));
  max-width: 38vw;
  padding: 1.5rem 12vw 1.5rem 4vw;
  transition: all .3s ease;

  &.list-selected {
    transform: translateX(-480px);
  }
}


// Quote view

.quote-view {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgba(0,0,0,.5);
  visibility: hidden;
  opacity: 0;
  transition: opacity .5s, visibility .5s;
  text-align: center;
  padding: 0 15vw;

  &_active {
    opacity: 1;
    visibility: visible;
  }

  &__body {
    font-family: Satisfy, serif;
    font-size: 3rem;
  }

  &__author {
    margin-top: 1.2rem;
    font-size: 1.4rem;
    color: rgba(255, 255, 255, .6);
  }

  &__link {
    display: inline-block;
    width: 40px;
    height: 20px;
    background: url(../../assets/images/link.png);
    margin-top: 1.2rem;
    opacity: .7;

    &:hover {
      opacity: 1;
    }
  }

  &__close {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
  }
}
