@mixin btn-base {
  width: 45px;
  height: 45px;
  position: relative;
  border: 0 none;
  background: transparent;
  padding:0;
  cursor: pointer;
  outline: none;

  &::after,
  &::before {
    content: '';
    opacity: .7;
    display: block;
    position: absolute;
    transition: opacity .3s;
  }

  &:hover {
    &::after,
    &::before {
      opacity: 1;
    }
  }
}
